@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* Container Styling */
body {
  display: flex;
  flex-flow: column;
  margin: 0;
  font-family: "Roboto";
}

body > * {
  padding: 0 15vw;
}
/* Herospace start */
#herospace {
  display: flex;
  flex-flow: column;
  gap: 25px;
  padding-bottom: 50px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightlinks {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

#welcomemessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

#herotext {
  flex: 1 3 400px;
  max-width: 700px;
}

#herotext > * {
  margin-bottom: 10px;
}

#herospace,
footer {
  background-color: #1f2937;
}
/* Herospace end */
/* Infospace start */
#infospace {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#images {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  align-content: center;
}
/* Infospace end */
/* Quotespace start */
#quotespace {
  background-color: #e5e7eb;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quotespace > * {
  margin: 0;
}
#quotespace h3 {
  align-self: flex-end;
}
/* Quotespace end */
/* Call to action start */
#calltoaction {
  height: 30vh;
  background-color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctablock {
  width: 50vw;
  height: 15vh;
  border-radius: 10px;
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.ctablock h3 {
  margin: 5px 0;
  color: #f9faf8;
}
.ctablock p {
  max-width: 700px;
  color: #e5e7eb;
}

.ctablock button {
  background-color: transparent;
  border: 3px solid #e5e7eb;
}

.ctablock button:active{
    background-color: black;
    transition: .3s;
}
/* Call to action end */
footer {
  padding: 20px;
  text-align: center;
  color: #f9faf8;
  a {
    color: #f9faf8;
  }
}
/* Element/Tag Styling*/

ul {
  margin: 0px;
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

a {
  color: #e5e7eb;
}

.rightlinks a,
p {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

#infospace img {
  width: 250px;
  border: 3px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 10px;
}

h1,
p {
  margin: 0px;
  margin-bottom: 5px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

button {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  border-style: none;
  background-color: #3882f6;
  color: #e5e7eb;
}

figure {
  margin: 0;
}

figure:hover a {
  opacity: 1;
  transition: 0.5s;
}

figcaption {
  margin: 0px;
  font-size: 14px;
  margin-left: 3px;
}

figcaption a {
  font-size: 8px;
  opacity: 0;
  color: black;
}

#infospace figure {
  width: min-content;
}

#businesslogo {
  width: 60px;
}

#teamphoto {
  min-width: 300px;
  max-width: 500px;
  border-radius: 10px;
  flex: 1 1 300px;

  margin-left: auto;
  margin-right: auto;
}

#infospace h2 {
  text-align: center;
}

#quotespace h2 {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

#herospace a {
  color: #e5e7eb;
}
