* {
  background-color: #f2f2f2;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 50px 20px;
}

h1,
h3,
h4 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.mainimg {
  display: block;
  margin: 0 auto;
}

a {
  color: rgb(52, 52, 198);
}
a:hover {
  text-decoration: none;
}

ul {
  display: inline-block;
  border: 2px dashed lightsteelblue;
  padding: 20px 40px;
}

li {
  margin-bottom: 5px;
}

img {
  border: 5px solid lightsteelblue;
}
